<%- include("./includes/start.ejs") %>
</head>
<body>
	<%- include("./includes/nav.ejs") %>
		<section class="users-list-container">
			<ul class="users-list-ul">
				<% if(allUserData.length > 0 ){ %>
					<%  for(let userData of allUserData){ %>
					<%  console.log("userdata length", typeof userData.username, userData.username.length) %>
					<%  const {username, email} = userData %>
						<li class="user-list-li">username: <%=username %>, email: <%= email%></li> 
					<% } %>	
				<% }else{ %>
					<h2>No data submited yet..</h2>
				<% } %>
			
			</ul>
		</section>
		
<%- include("./includes/end.ejs") %>